<script src="/src/assets/js/script.js"></script>

<body>

 

 
     <section class="wrapper">
 
         <div class="container">
 
             <div id="scene" class="scene" data-hover-only="false">
 
 
                 <div class="circle" data-depth="1.2"></div>
 
                 <div class="one" data-depth="0.9">
                     <div class="content liens">
                         <a class="piece lien"></a>
                         <a class="piece"></a>
                         <a class="piece"></a>

                     </div>
                 </div>
 
                 <div class="two" data-depth="0.60">
                     <div class="content liens">
                         <a class="piece"></a>
                         <a class="piece"></a>

                         <a class="piece"></a>
                     </div>
                 </div>
                
                 <div class="three" data-depth="0.40">
                     <div class="content liens">
                         <a class="piece "></a>
                         <a class="piece"></a>

                         <a class="piece"></a>
                     </div>
                 </div>

 
 
              
             </div>
             
           
            
         </div>

     </section>
     
     
     
</body>