<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous"/>
</head>
<div class="container">
  
<div id="a-propos" class="section" >
  <div class="cercle">
      <app-circle></app-circle>
      <app-circle2></app-circle2>
  </div> 
  <main>
      <div class="profil">
        
          <div class="title ">
              <h1 class="text comp">
              A.propos 
          <span class="barre"></span>

              </h1>
              <app-peace></app-peace>
          </div>
          
    </div>
    <div class="texts">
      <article class="hidden">
          <p class="mytext"> Hey ,je m'appelle Rufus MOUAKASSA  j’ai 20 ans.<br> Je suis actuellement apprenti (Bachelor Concepteur développeur d’applications) à l'institut F2i de Paris.<br>Depuis mes jeunes années, j’ai toujours été attiré par l’informatique et les nouvelles technologies. <br>C’est tout naturellement que je me suis tourné vers ces études, en effectuant mes deux années d’études en <span class="bts"> <a routerLink="/bts-sio">BTS Services Informatiques aux Organisations</a> </span> ( BTS SIO ) spécialité en Solutions Logicielles et Applications Métier.  </p>
          <a href="../../assets/fichiers/CV[2092].pdf" download><button><i class="fas fa-arrow-down fa-beat" ></i>
              Curriculum Vitae</button></a>
      </article>
  </div>
  
  
              
  
  <div class="content">
    <div class="qote">
      <i class="fa-solid fa-quote-left" ></i>
    </div>
    <div class="content__container" >
      <p class="content__container__text">
        je suis</p>
      
      <ul class="content__container__list">
        <li class="content__container__list__item">dynamique</li>
        <li class="content__container__list__item">passionné</li>
        <li class="content__container__list__item">motivé</li>
        <li class="content__container__list__item">organisé</li>
        <li class="content__container__list__item">serieux</li>
        <li class="content__container__list__item">travailleur</li>
      </ul>
    </div>
  </div>
  </main>
  </div>
  
  
    <!-- 3D Slideshow Section --> 
              <!-- <h1 class="soustitre">A Propos</h1> -->
  
  <section class="competences" id="slideshow">
    <div class="comp hidden">
      <p class="caption" ><span class="c">C</span> ompétences</p>
      <span class="barre barre_comp"></span>
    </div>

    <!-- <div class="card">
      <div class="kills">
        <i class="fa-brands fa-html5" style="color: orangered;"></i>
      </div>
      <div class="kills">
        <i class="fa-brands fa-github" style="color: black;"></i>
      </div>
      <div class="kills">
        <i class="fa-brands fa-js" style="color: yellow;"></i>
      </div>
      <div class="kills">
        <i class="fa-brands fa-angular" style="color: red;"></i>
      </div>
      <div class="kills">
        <i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i>
      </div>
      <div class="kills">
        <i class="fa-solid fa-c" style="color: #eee;"></i>
      </div>
      <div class="kills">
        <i class="fa-brands fa-php" style="color: rgb(30, 48, 80); "></i>
      </div> -->
    <!-- </div> -->
    <!-- <div class="entire-content">
      <div class="content-carrousel">
        <figure class="shadow"><i class="fa-brands fa-html5"></i></figure>
        <figure class="shadow"><i class="fa-brands fa-js"></i></figure>
        <figure class="shadow"><i class="fa-brands fa-css3-alt"></i></figure>
        <figure class="shadow"><i class="fa-brands fa-php"></i></figure>
        <figure class="shadow"><i class="fa-brands fa-angular"></i></figure>
        <figure class="shadow"><i class="fa-solid fa-elephant"></i></figure>
        <figure class="shadow"><i class="fa-solid fa-c"></i></figure>
        <figure class="shadow"><i class="fa-solid fa-code"></i></figure>
        <figure class="shadow"><i class="fa-brands fa-github"></i></figure>
  </div>
  </div> -->
  <div class="carousel hidden"  >
    <div class="carousel-track" >
      <div class="carousel-card">
        <div class="kills">
        <i class="fa-brands fa-github" style="color: black;"></i>
      </div>
      </div>
      
      <div class="carousel-card">
        <div class="kills">
          <i class="fa-brands fa-html5" style="color: orangered;"></i>
        </div>
      </div>
          <div class="carousel-card">
            <div class="kills">
              <i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i>

            </div>
      </div>
          <div class="carousel-card">
            <div class="kills">
            <i class="fa-solid fa-c" style="color: #eee;"></i>
        </div>
      </div>
      <div class="carousel-card">
        <div class="kills">
        <i class="fa-brands fa-angular" style="color: red;"></i>
        </div>
      </div>
      <div class="carousel-card">
        <div class="kills">
        <i class="fa-brands fa-js" style="color: yellow;"></i>
      </div>        </div>
      
      <div class="carousel-card">
        <div class="kills">
          <i class="fa-brands fa-bootstrap" style="color: #1F75FE;"></i>
      </div>
      </div>
          <div class="carousel-card">
            <div class="kills">
              <i class="fa-brands fa-php" style="color: rgb(30, 48, 80); "></i>
            </div>
      </div>
      <div class="carousel-card">
        <div class="kills">
        <i class="fa-solid fa-elephant"></i>
      </div>        </div>
     
      <div class="carousel-card">
        <div class="kills">
        <i class="fa-brands fa-github" style="color: black;"></i>
      </div>
      </div>
    </div>
  </div>
  </section>
  
</div>