*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
ul:focus,
li:focus,
button:focus,
a:focus,
i:focus,
input:focus,
body:focus {
  outline: 0;
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}
main{
    width: 100%;
    margin-left: 300px;
    margin-bottom: 50px;
    /* background-color: darkorange; */
    /* position: absolute; */
    color: white;
}
.profil{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
}
.soustitre{
    
  padding-bottom: 10px;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  z-index: 2;
  animation: anime404 0.6s cubic-bezier(0.3, 0.8, 1, 1.05) both;
  animation-delay: 1.2s;
  text-shadow: 1px 1px 2px #36184F, 0 0 1em #36184F, 0 0 0.2em #36184F;
}
.description{
    color: white;
    display: grid;
    width: 600px;
    position: relative;
    z-index: 3;
    margin-top: 50px;
}
.title{
    display: flex;
}
.bts{
  color: #FB8A8A;
  font-weight: 700;
}

/* scroll animation */

  .content {
    position: relative;
    /* z-index: 10; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 160px;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    line-height: 40px;
    margin: auto;
    width: 75%;
    color: #eee;
    display: flex;
    /* background-color: #FB8A8A; */
    align-items: flex-end;

   
  }
  .qote{
    text-shadow: 0 1px 0 #ccc,
    0 1px 0 #c9c9c9,
    0 1.5px 0 #bbb,
    0 2px 0 #b9b9b9,
    0 2.5px 0 #aaa,
    0 3px 1px rgba(0,0,0,.1),
    0 0 2.5px rgba(0,0,0,.1),
    0 0.5px 1.5px rgba(0,0,0,.3),
    0 1.5px 2.5px rgba(0,0,0,.2),
    0 2.5px 5px rgba(0,0,0,.25),
    0 5px 5px rgba(0,0,0,.2),
    0 10px 10px rgba(0,0,0,.15);
    font-size: 40px;
  }
  .content__container {
    position: absolute;
    font-weight: 700;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
    margin-top: 120px;
    margin-left: 20px;
  letter-spacing:2px;
  

    text-shadow: 0 1px 0 #ccc,
    0 1px 0 #c9c9c9,
    0 1.5px 0 #bbb,
    0 2px 0 #b9b9b9,
    0 2.5px 0 #aaa,
    0 3px 1px rgba(0,0,0,.1),
    0 0 2.5px rgba(0,0,0,.1),
    0 0.5px 1.5px rgba(0,0,0,.3),
    0 1.5px 2.5px rgba(0,0,0,.2),
    0 2.5px 5px rgba(0,0,0,.25),
    0 5px 5px rgba(0,0,0,.2),
    0 10px 10px rgba(0,0,0,.15);
  }
  .content__container__text {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .content__container__list {
    margin-top: 0;
    padding-left: 160px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
  }
  
  @-webkit-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  /* These values remove the list reversal
    0%, 6%, 100% {transform:translate3d(0,0,0);}
    16.66%, 22.66% {transform:translate3d(0,-16.66%,0);}
    33.32%, 39.32% {transform:translate3d(0,-33.33%,0);}
    49.98%, 55.98% {transform:translate3d(0,-49.99%,0);}
    66.64%, 72.64% {transform:translate3d(0,-66.66%,0);}
    83.3%, 89.3% {transform:translate3d(0,-83.33%,0);}
  
  Change animation duraiton to 10s if reversal is removed
  */
  @-webkit-keyframes change {
    0%, 4%, 100% {
      transform: translate3d(0, 0, 0);
    }
    10%, 14% {
      transform: translate3d(0, -16.66%, 0);
    }
    20%, 24% {
      transform: translate3d(0, -33.33%, 0);
    }
    30%, 34% {
      transform: translate3d(0, -49.99%, 0);
    }
    40%, 44% {
      transform: translate3d(0, -66.66%, 0);
    }
    50%, 54% {
      transform: translate3d(0, -83.33%, 0);
    }
    60%, 64% {
      transform: translate3d(0, -66.66%, 0);
    }
    70%, 74% {
      transform: translate3d(0, -49.99%, 0);
    }
    80%, 84% {
      transform: translate3d(0, -33.33%, 0);
    }
    90%, 94% {
      transform: translate3d(0, -16.66%, 0);
    }
  }
  @-o-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-o-keyframes change {
    0%, 4%, 100% {
      transform: translate3d(0, 0, 0);
    }
    10%, 14% {
      transform: translate3d(0, -16.66%, 0);
    }
    20%, 24% {
      transform: translate3d(0, -33.33%, 0);
    }
    30%, 34% {
      transform: translate3d(0, -49.99%, 0);
    }
    40%, 44% {
      transform: translate3d(0, -66.66%, 0);
    }
    50%, 54% {
      transform: translate3d(0, -83.33%, 0);
    }
    60%, 64% {
      transform: translate3d(0, -66.66%, 0);
    }
    70%, 74% {
      transform: translate3d(0, -49.99%, 0);
    }
    80%, 84% {
      transform: translate3d(0, -33.33%, 0);
    }
    90%, 94% {
      transform: translate3d(0, -16.66%, 0);
    }
  }
  @-moz-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-moz-keyframes change {
    0%, 4%, 100% {
      transform: translate3d(0, 0, 0);
    }
    10%, 14% {
      transform: translate3d(0, -16.66%, 0);
    }
    20%, 24% {
      transform: translate3d(0, -33.33%, 0);
    }
    30%, 34% {
      transform: translate3d(0, -49.99%, 0);
    }
    40%, 44% {
      transform: translate3d(0, -66.66%, 0);
    }
    50%, 54% {
      transform: translate3d(0, -83.33%, 0);
    }
    60%, 64% {
      transform: translate3d(0, -66.66%, 0);
    }
    70%, 74% {
      transform: translate3d(0, -49.99%, 0);
    }
    80%, 84% {
      transform: translate3d(0, -33.33%, 0);
    }
    90%, 94% {
      transform: translate3d(0, -16.66%, 0);
    }
  }
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes change {
    0%, 4%, 100% {
      transform: translate3d(0, 0, 0);
    }
    10%, 14% {
      transform: translate3d(0, -16.66%, 0);
    }
    20%, 24% {
      transform: translate3d(0, -33.33%, 0);
    }
    30%, 34% {
      transform: translate3d(0, -49.99%, 0);
    }
    40%, 44% {
      transform: translate3d(0, -66.66%, 0);
    }
    50%, 54% {
      transform: translate3d(0, -83.33%, 0);
    }
    60%, 64% {
      transform: translate3d(0, -66.66%, 0);
    }
    70%, 74% {
      transform: translate3d(0, -49.99%, 0);
    }
    80%, 84% {
      transform: translate3d(0, -33.33%, 0);
    }
    90%, 94% {
      transform: translate3d(0, -16.66%, 0);
    }
  }
  
.text {
    position: absolute;
    /* margin: 50px 200px; */
    animation: text 0.6s 1.8s ease backwards;
    
  }
  @keyframes text {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
  }
  @media screen and (max-width: 799px) {
    .wrapper .container .text {
      min-height: 400px;
      height: 80%;
    }
  }


 .texts article {
    width: 550px;
    margin-top: 80px;
    position: relative;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (max-width: 799px) {
    .wrapper .container .texts article {
      width: 100%;
    }
  }
  .hidden{
    opacity: 0;
    transition: all 1s;
  }
  .show{
    opacity: 1;
  }
 .texts article p {
    color: white;
    font-size: 18px;
    letter-spacing: 0.6px;
    margin-bottom: 40px;
    text-shadow: 6px 6px 10px #32243E;
  }
.texts article button {
    height: 40px;
    padding: 0 30px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(54, 24, 79, 0.5);
    z-index: 3;
    color: #695681;
    background-color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: all 0.3s ease;
    
  }
 .texts article button:hover {
    box-shadow: 0px 10px 10px -10px rgba(54, 24, 79, 0.5);
    transform: translateY(5px);
    background: #FB8A8A;
    color: white;
  }
  
  /* carrousel */
.c{
  font-size:90px ;
}
.comp{
  display: flex;
  flex-direction: column;
  align-items: center; 
  /* background-color: #FB8A8A; */
}
.barre{
  border-bottom: 5px solid white;
  width: 340px;
  margin-left: 180px;
  box-shadow: 0 1px 0 #ccc,
  0 1px 0 #c9c9c9,
  0 1.5px 0 #bbb,
  0 2px 0 #b9b9b9,
  0 2.5px 0 #aaa,
  0 3px 1px rgba(0,0,0,.1),
  0 0 2.5px rgba(0,0,0,.1),
  0 0.5px 1.5px rgba(0,0,0,.3),
  0 1.5px 2.5px rgba(0,0,0,.2),
  0 2.5px 5px rgba(0,0,0,.25),
  0 5px 5px rgba(0,0,0,.2),
  0 10px 10px rgba(0,0,0,.15);

}
.caption {
  box-sizing: border-box;
  left:40%;
  /* transform: translate(-50% ,210%); */
  /* text-shadow: 0 3px 5px rgba(0,0,0,.3); */
  text-shadow: 0 1px 0 #ccc,
  0 1px 0 #c9c9c9,
  0 1.5px 0 #bbb,
  0 2px 0 #b9b9b9,
  0 2.5px 0 #aaa,
  0 3px 1px rgba(0,0,0,.1),
  0 0 2.5px rgba(0,0,0,.1),
  0 0.5px 1.5px rgba(0,0,0,.3),
  0 1.5px 2.5px rgba(0,0,0,.2),
  0 2.5px 5px rgba(0,0,0,.25),
  0 5px 5px rgba(0,0,0,.2),
  0 10px 10px rgba(0,0,0,.15);
  cursor:default;
  font-size: 50px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  font-weight: 700;
  width: min-content;
  /* background-color: blue; */
}
.card{
  margin-top: 70px;
  /* background-color: salmon; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}
.card .kills{
  cursor: pointer;
  width: 150px;
  height: 180px;
  padding: 50px 50px;
  box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);


 
}

.card .kills i{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  font-size: 100px;
  font-weight: 700;
  text-shadow: 0 1px 0 #ccc,
  0 1px 0 #c9c9c9,
  0 1.5px 0 #bbb,
  0 2px 0 #b9b9b9,
  0 2.5px 0 #aaa,
  0 3px 1px rgba(0,0,0,.1),
  0 0 2.5px rgba(0,0,0,.1),
  0 0.5px 1.5px rgba(0,0,0,.3),
  0 1.5px 2.5px rgba(0,0,0,.2),
  0 2.5px 5px rgba(0,0,0,.25),
  0 5px 5px rgba(0,0,0,.2),
  0 10px 10px rgba(0,0,0,.15);
}
 .content-carrousel i{
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 100px;
  }
  
#slideshow {
	margin: 0 auto;
	height: 600px;
	width: 100% ;
	box-sizing: border-box;
  /* background-color: royalblue; */


}
.competences{
  display: flex;
  flex-direction: column ;
  
}

.slideshow-title {
	font-family: 'Allerta Stencil';
	font-size: 62px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
	font-weight: 300;
}

.sub-heading {
	padding-top: 50px;
	font-size: 18px;
} .sub-heading-two {
	font-size: 15px;
} .sub-heading-three {
	font-size: 13px;
} .sub-heading-four {
	font-size: 11px;
} .sub-heading-five {
	font-size: 9px;
} .sub-heading-six {
	font-size: 7px;
} .sub-heading-seven {
	font-size: 5px;
} .sub-heading-eight {
	font-size: 3px;
} .sub-heading-nine {
	font-size: 1px;
}

.entire-content {
	margin: auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 15s infinite linear;
	transform-style: preserve-3d;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	/* border: 1px solid #3b444b; */
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px); 
} 

.shadow {
    position: absolute;
     /* box-shadow: 0px 0px 20px 0px #000; */
    /*border-radius: 1px; */
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}
/* fin carousel */

/* 3d text  */


h1.text{
  letter-spacing:5px;
  font-family:verdana;
  color:white;
  font-size:80px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
/* slide text */


#copyright {
  font-size: 20px;
  font-weight: 100;
  margin: 10px;
  letter-spacing: 2px;
  position: absolute;
}

@keyframes grad {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}

.text-3d {
  text-transform: uppercase;
  font-size: 150px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 1px 0 rgb(190, 190, 190), 0 2px 0 rgb(185, 185, 185),
    0 3px 0 rgb(180, 180, 180), 0 4px 0 rgb(175, 175, 175),
    0 5px 0 rgb(165, 165, 165), 0 6px 0 rgb(160, 160, 160),
    0 7px 0 rgb(155, 155, 155), 0 1px 5px rgba(0, 0, 0, 0.05),
    0 3px 5px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.15),
    0 7px 10px rgba(0, 0, 0, 0.2), 0 10px 15px rgba(0, 0, 0, 0.25);

  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.text-3d:hover {
  text-shadow: 0 1px 0 rgb(190, 190, 190), 0 2px 0 rgb(185, 185, 185),
    0 3px 0 rgb(180, 180, 180), 0 4px 0 rgb(175, 175, 175),
    0 5px 0 rgb(165, 165, 165), 0 6px 0 rgb(160, 160, 160),
    0 7px 0 rgb(155, 155, 155), 0 8px 0 rgb(150, 150, 150),
    0 9px 0 rgb(145, 145, 145), 0 1px 5px rgba(0, 0, 0, 0.05),
    0 5px 5px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.15),
    0 15px 10px rgba(0, 0, 0, 0.2), 0 20px 15px rgba(0, 0, 0, 0.25);

  /* transform: translate(-51%.-51%); */
  transition: all 0.3s ease-in-out;
}

.slider-wrapper {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 150px;
  padding-left: 25px;
  overflow: hidden;
}

.slider div {
  height: 200px;
  margin-bottom: 50px;

  text-align: center;
  box-sizing: border-box;
}

.st1 {
  animation: slide 4s linear infinite;
}


@keyframes slide {
  0% {
    margin-top: -750px;
  }
  5% {
    margin-top: -600px;
  }
  33% {
    margin-top: -500px;
  }
  38% {
    margin-top: -400px;
  }
  66% {
    margin-top: -250px;
  }
  71% {
    margin-top: -50px;
  }
  100% {
    margin-top: 20px;
  }
}


/* carousel card */


.carousel {
  width: 75%;
  overflow: hidden;
  margin: auto;
  box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);

}
.carousel-track {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width: calc(150px * 150);
  animation: scroll infinite 15s linear;

}
.carousel-card {
  margin-right: 65px;
  width: 150px;
  height: 180px;
  padding: 50px 50px;
  box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);

}
.carousel-card:hover{
  background-color: whitesmoke ;

}
.carousel-card .kills i{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  font-size: 100px;
  font-weight: 700;
  text-shadow: 0 1px 0 #ccc,
  0 1px 0 #c9c9c9,
  0 1.5px 0 #bbb,
  0 2px 0 #b9b9b9,
  0 2.5px 0 #aaa,
  0 3px 1px rgba(0,0,0,.1),
  0 0 2.5px rgba(0,0,0,.1),
  0 0.5px 1.5px rgba(0,0,0,.3),
  0 1.5px 2.5px rgba(0,0,0,.2),
  0 2.5px 5px rgba(0,0,0,.25),
  0 5px 5px rgba(0,0,0,.2),
  0 10px 10px rgba(0,0,0,.15);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}

.cercle{
  position: absolute;
  left: 0;
}

@media only screen and (max-width: 590px) {
  h1.text{
    font-size: 65px;
  }
}

@media only screen and (max-width: 465px) {
  main{
    margin: 0;
  }
}

@media only screen and (max-width: 438px) {
  h1.text{
    font-size: 55px;
    margin-left: 102px;
  }
  .barre{
    width: 240px;
  margin-left: 130px;
  }

}