<app-navbar></app-navbar>
<section>
    <main>
        <div class="image" >
            <img src="../../assets/images/gestion-budget-web.png" alt="" class="projet-image projet7">
        </div>
        
       <div class="desc">
        <div class="profil">
            <div class="titles ">
                <h1 class="text comp">
                Gestion Budget
            <span class="barre"></span>
                </h1>
            </div>
        </div> 
        <div class="details">
            <div class="info">
                <table>
                    <tbody>
                            <tr>
                                <td>
                                    <h6>Catégories</h6>
                                </td>
                                <td>
                                    <ul>
                                        <li>Développement Web</li>
                                        <li>jeu</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Année</h6>
                                </td>
                                <td>
                                    <ul>
                                        <li>2023</li>
                                        
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>technologies</h6>
                                </td>
                                <td>
                                    <ul class="language">
                                        <li><i class="fa-brands fa-html5" style="color: orangered;"></i>
                                            <li><i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i></li>
                                            <li>
                  <i class="fa-brands fa-php" style="color: rgb(30, 48, 80); "></i>

              </li>
                                    </ul>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="description">
                <h6>Description</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quod tenetur, ex quasi cupiditate eaque quisquam! Suscipit asperiores impedit quae vero officia corporis ad perspiciatis numquam tempore, mollitia facilis nostrum?</p>
                <button routerLink="/planegame">Acceder au site</button>
            </div>
        </div>
       </div>
    </main>
</section>