
<body>

 
    <nav>
        <div class="menu">
            <a href="/accueil"><p class="website_name"  data-aos="fade-up">Rufus MOUAKASSA</p></a>
            <div class="menu_links mob-menu">
               
                <i class="fa-light fa-bars mob-open" ></i>
                <div class="mob-wrapper close">
                   <i class="mob-close fa-light fa-xmark-large x "></i>
                   <div class="mob-list">
                       <a href="" class="mylink">Accueil </a>
                       <a href="#a-propos" class="mylink">A Propos</a>
                       <a href="#portfolio" class="mylink">Portfolio</a>
                       <a href="#veille" class="mylink">Veilles</a>
                       <a href="#contact" class="mylink">Contact</a>
                   </div>
                </div>
            </div>

        </div>
    </nav>

</body>