<section>
    <main>
        <div class="image" >
            <img src="../../assets/images/leboncoin-web.png" alt="" class="projet-image projet7">
        </div>
        
       <div class="desc">
        <div class="profil">
            <div class="titles ">
                <h1 class="text comp">
                Leboncoin
            <span class="barre"></span>
                </h1>
            </div>
        </div> 
        <div class="details">
            <div class="info">
                <table>
                    <tbody>
                            <tr>
                                <td>
                                    <h6>Catégories</h6>
                                </td>
                                <td>
                                    <ul>
                                        <li>Développement Web</li>
                                        <li>Site E-commerce</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Année</h6>
                                </td>
                                <td>
                                    <ul>
                                        <li>2023</li>
                                        
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>technologies</h6>
                                </td>
                                <td>
                                    <ul class="language">
                                        <li><i class="fa-brands fa-html5" style="color: orangered;"></i>
                                            <li><i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i></li>
                                        <li><i class="fa-brands fa-js" style="color: yellow;"></i></li>
                                        <li><i class="fa-brands fa-php" style="color: rgb(30, 48, 80); "></i></li>
                                        
                                    </ul>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="description">
                <h6>Description</h6>
                <p>Leboncoin est une plateforme de consommation qui met en relation essentiellement des professionnels comme des particuliers en France, souhaitant donner, vendre, louer ou acheter. </p>
                 <a class="button" target="_blank" href="http://localhost/Leboncoin/index.php" > Acceder au site</a> 
                 <p>Ce projet est disponible qu'en local, je m'exuce pour la gêne occasionné vous pouvez consulter le code juste ici</p>
                 <a class="button" target="_blank" href="https://drive.google.com/drive/folders/1JNgOwnSdsQdwENzv67e32kN8MWk_v3F8">Documentation & Code Source </a>
            </div>
        </div>
       </div>   
    </main>
</section>