<section>
    <div  id="veille"  class="profil">
        <div class="titles">
            <h1  class="text comp">
            Veille Technologique
        <span class="barre" ></span>
            </h1>
            <app-peace></app-peace>
        </div>
        <div class="cercle">
            <app-circle></app-circle>
            <app-circle2></app-circle2>
        </div> 
    </div>  
    
    <div class="texts">
        <article class="hidden">
            <p>La veille technologique consiste à s'informer en continu sur les nouveautés du secteur informatique, les inventions des concurrents ainsi que les nouvelles technologies et ce dans le but d'être le meilleur dans son domaine.

 

                Le thème de veille technologique que j'ai décidé d'aborder s'intitule "La sécurité des données Web pour un développeur", car en tant que future développeur informatique, je risque d'être confrontée à divers problèmes liés au développement Web. </p>
           <div class="row">
            <a routerLink="../../assets/fichiers/diaporama veille technologique.pdf" target="_blank"><button><i class="fas fa-arrow-down fa-beat" ></i>
                Diaporama</button></a>
            <a routerLink="../../assets/fichiers/veille technologique.pdf" target="_blank"><button><i class="fas fa-arrow-down fa-beat" ></i>
                veille Technologique</button></a>
               
           </div>
        </article>
    </div>
</section>