<app-navbar></app-navbar>

<main>

    <div class="contain">
        <div id="face">
            <div class="contour" data-aos="zoom-out-down">
                <h1 class="superShadow">E4</h1>
            </div>
            
        </div>
        <div class="texts" data-aos="zoom-in">
            <article class="hidden">
                <p> L'épreuve E4 vise à évaluer les compétences acquises par le candidat dans le domaine de la conception et de la maintenance de solutions informatiques pour chacun des parcours du diplôme.<br><br>
                    Ces compétences sont évaluées à partir de situations professionnelles permettant de mesurer la capacité du candidat à : <br><br>
                    - Produire ou adapter une solution applicative ou d’infrastructure.<br><br>
                    - Apprécier la qualité de la solution obtenue par rapport à la demande initiale et aux contraintes de production.<br><br>
                    - Traiter les imprévus qui caractérisent de nombreuses activités du domaine.<br><br>
                ​</p>
                <a href="../../assets/fichiers/6- Annexe 6-1 - Tableau de synthèse - Epreuve E4 - BTS SIO 2023 .pdf" download><button><i class="fas fa-arrow-down fa-beat" ></i>
                    Tableau de Synthèse</button>
                </a>
                <a href="" download><button><i class="fas fa-arrow-down fa-beat" ></i>
                    Ressources Dossier E4</button>
                </a>
            </article>
        </div>
    </div>
</main>