<app-navbar></app-navbar>
<section>
    <main>
        <div class="image" >
            <img src="../../assets/images/game.png" alt="" class="projet-image projet7">
        </div>
        
       <div class="desc">
        <div class="profil">
            <div class="titles ">
                <h1 class="text comp">
                Plane Game
            <span class="barre"></span>
                </h1>
            </div>
        </div> 
        <div class="details">
            <div class="info">
                <table>
                    <tbody>
                            <tr>
                                <td>
                                    <h6>Catégories</h6>
                                </td>
                                <td>
                                    <ul>
                                        <li>Développement Web</li>
                                        <li>jeu</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Année</h6>
                                </td>
                                <td>
                                    <ul>
                                        <li>2023</li>
                                        
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>technologies</h6>
                                </td>
                                <td>
                                    <ul class="language">
                                        <li><i class="fa-brands fa-html5" style="color: orangered;"></i>
                                            <li><i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i></li>
                                    </ul>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="description">
                <h6>Description</h6>
                <p>"Plane game" (ou jeu d'avion en français) fait référence à un type de jeu vidéo où le joueur prend le contrôle d'un avion et participe à des missions ou des défis liés au pilotage, à la navigation aérienne ou au combat aérien. Ces jeux peuvent offrir différentes perspectives, allant des simulations de vol réalistes aux jeux d'action arcade.</p>
                <button target="_blank" routerLink="/planegame">Acceder au site</button>
            </div>
        </div>
       </div>
    </main>
</section>