<main >

<div   class="profil" >
    <div class="titles" id="portfolio">
        <h1  class="text comp " >
        Portfolio
    <span class="barre" ></span>
        </h1>
        <app-peace></app-peace>
    </div>
    <div class="cercle">
        <app-circle></app-circle>
        <app-circle2></app-circle2>
    </div> 
</div>   
    
<div class="projet ">
    <div class="projet-left">
        <img src="../../assets/images/gestion-budget-site.png" alt="" class="projet-image projet1">
        <img src="../../assets/images/site_e_commerce.png" alt="" class="projet-image projet2">
        <img src="../../assets/images/leboncoin.png" alt="" class="projet-image projet3">
        <img src="../../assets/images/maps.png" alt="" class="projet-image projet4">
        <img src="../../assets/images/planegame.png" alt="" class="projet-image projet5">
        <img src="../../assets/images/quiz.png" alt="" class="projet-image projet6">
        <img src="../../assets/images/pepsi.png" alt="" class="projet-image projet7">
        <img src="../../assets/images/meteo-site.png" alt="" class="projet-image projet8">
    </div>
    <div class="projet-right">
        <div class="list-projet">

            <ul class="ul">
                <li class="title">
                    <h2 class="soustitres">Projets</h2>
                    <p class="nb">9</p>
                </li><hr>
                <li>
                    <a routerLink="/gestion_budget" class="projet-link projet1">
                        <div class="projet-row">
                            <div class="projet-row-right">
                                <i class="fa-thin fa-chevron-right fa-beat projet-image projet1"></i>
                            Gestion Budget
                            </div>
                            <div class="projet-row-left">
                                <i class="fa-brands fa-html5" style="color: orangered;"></i>
                                <!-- <i class="fa-brands fa-js" style="color: yellow;"></i> -->
                  <i class="fa-brands fa-php" style="color: rgb(30, 48, 80); "></i>

                                <i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i>
                            </div>
                        </div>
                    </a>
                </li><hr>
                <li>
                    <a href="" class="projet-link projet2">
                        <div class="projet-row">
                            <div class="projet-row-right">
                                <i class="fa-thin fa-chevron-right fa-beat projet-image projet2"></i>
                                  Chat
                            </div>
                            <div class="projet-row-left">
                                <i class="fa-brands fa-html5" style="color: orangered;"></i>
                                <i class="fa-brands fa-js" style="color: yellow;"></i>
                                <i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i>
                            </div>
                        </div>
                    </a>
                </li><hr>
                <li>
                    <a routerLink="/leboncoin" class="projet-link projet3">
                        <div class="projet-row">
                            <div class="projet-row-right">
                                <i class="fa-thin fa-chevron-right fa-beat projet-image projet3"></i> Leboncoin
                            </div>
                            <div class="projet-row-left">
                                <i class="fa-brands fa-html5" style="color: orangered;"></i>
                                <i class="fa-brands fa-js" style="color: yellow;"></i>
                                <i class="fa-brands fa-php" style="color: rgb(30, 48, 80); "></i>
                                <i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i>

                            </div>
                        </div>
                    </a>
                </li><hr>
                <li>
                    <a routerLink="/maps" class="projet-link projet4">
                        <div class="projet-row">
                            <div class="projet-row-right">
                                <i class="fa-thin fa-chevron-right fa-beat projet-image projet4"></i>
                                 Maps
                                
                            </div>
                            <div class="projet-row-left">
                                <i class="fa-brands fa-html5" style="color: orangered;"></i>
                                <i class="fa-brands fa-js" style="color: yellow;"></i>
                                <i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i>
                            </div>
                        </div>
                    </a>
                </li><hr>
                <li>
                    <a routerLink="/game" class="projet-link projet5">
                        <div class="projet-row">
                            <div class="projet-row-right">
                                <i class="fa-thin fa-chevron-right fa-beat projet-image projet5"></i>
                                Plane Game
                            </div>
                            <div class="projet-row-left">
                                <i class="fa-brands fa-html5" style="color: orangered;"></i>
                                <i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i>
                            </div>
                        </div>
                    </a>
                </li><hr>
                <li>
                    <a routerLink="/qcm" class="projet-link projet6">
                        <div class="projet-row">
                            <div class="projet-row-right"><i class="fa-thin fa-chevron-right fa-beat projet-image projet6"></i>
                                Quiz
                            </div>
                            <div class="projet-row-left">
                                <i class="fa-brands fa-html5" style="color: orangered;"></i>
                                <i class="fa-brands fa-php" style="color: rgb(30, 48, 80); "></i>
                                <i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i>
                            </div>
                        </div>
                    </a>
                </li><hr>
                <li>
                    <a routerLink="/pepsi" class="projet-link projet7">
                        <div class="projet-row">
                            <div class="projet-row-right"><i class="fa-thin fa-chevron-right fa-beat projet-image projet7"></i>
                                Pepsi Web

                            </div>
                            <div class="projet-row-left">
                                <i class="fa-brands fa-html5" style="color: orangered;"></i>
                                <i class="fa-brands fa-js" style="color: yellow;"></i>
                                <i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i>
                            </div>
                        </div>
                    </a>
                </li><hr>
                <li>
                    <a routerLink="/meteo-app" class="projet-link projet8">
                        <div class="projet-row">
                            <div class="projet-row-right"><i class="fa-thin fa-chevron-right fa-beat projet-image projet8"></i>
                                Metéo App

                            </div>
                            <div class="projet-row-left">
                                <i class="fa-brands fa-html5" style="color: orangered;"></i>
                                <i class="fa-brands fa-js" style="color: yellow;"></i>
                                <i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i>
                            </div>
                        </div>
                    </a>
                </li><hr>

                
            </ul>
        </div>
        
    </div> 
    
</div>
<div class="epr">
    <app-epreuves></app-epreuves>
</div>

<div class="veil">
    <app-veille></app-veille>
</div>

</main>