<section>
    <main>
        <div class="image" >
            <img src="../../assets/images/qcm.png" alt="" class="projet-image projet7">
        </div>
        
       <div class="desc">
        <div class="profil">
            <div class="titles ">
                <h1 class="text comp">
                QUIZ
            <span class="barre"></span>
                </h1>
            </div>
        </div> 
        <div class="details">
            <div class="info">
                <table>
                    <tbody>
                            <tr>
                                <td>
                                    <h6>Catégories</h6>
                                </td>
                                <td>
                                    <ul>
                                        <li>Développement Web</li>
                                        <li>Site internet</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Année</h6>
                                </td>
                                <td>
                                    <ul>
                                        <li>2020</li>
                                        
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>technologies</h6>
                                </td>
                                <td>
                                    <ul class="language">
                                        <li><i class="fa-brands fa-html5" style="color: orangered;"></i>
                                            <li><i class="fa-brands fa-css3-alt" style="color: rgb(66, 66, 212);"></i></li>
                                        <li><i class="fa-brands fa-js" style="color: yellow;"></i>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="description">
                <h6>Description</h6>
                <p>
                    Un jeu de quiz est un type de jeu dans lequel les joueurs sont mis au défi de répondre à des questions sur divers sujets. Le but principal est de tester les connaissances des joueurs et de récompenser ceux qui répondent correctement aux questions posées.</p>
                <p>Ce projet utilise une base de donnée locale elle n'est pas encore mise en ligne ,je m'exuce pour la gêne occasionné</p>
                <button disabled >Ce projet est en maintenance</button>
            </div>
        </div>
       </div>
    </main>
</section>