<app-navbar></app-navbar>

<main>

    <div class="contain">
        <div id="face">
            <div class="contour">
                <h1 class="superShadow" data-aos="zoom-in-up">BTS SIO</h1>
          <span class="barre"></span>

                
            </div>
            
        </div>
        <div class="texts">
            <article class="hidden">
                <p data-aos="zoom-out-right" class="desc">Je vais vous présenter le BTS SIO que je réalise à l'institut F2i (Vincennes 94) ainsi que ces différentes options qui sont disponibles. En somme mes différents <span class="projets"><a href="#portfolio">projets</a></span> de niveau BTS sont disponible sur cette page. Les étudiants de BTS SIO arrivent souvent d’un BAC PRO et d’un BAC STI2D et qui souhaitent continuer les études tout en débutant le monde du travail… avant de faire un BTS SIO.<br><br>
                    D’abord le Brevet de Technicien Supérieur Services informatique aux Organisations (SIO) s’adresse à ceux qui souhaitent se former en deux ans aux métiers d’administrateur réseau ou de développeur pour intégrer directement le marché du travail ou continuer des études dans le domaine de l’informatique. Mais en plus depuis la nouvelle réforme, la matière de Cybersécurité est disponible. <br><br>
                   
                ​</p> 
                <div class="bts-sio">
                    <div class="slam" data-aos="fade-right">
                        <span class="option">Option SLAM</span>
                        <img src="../../assets/images/slam.jpg" alt=">Slam">
                        <p>Le signe SLAM signifie <b> « Solutions Logicielles et Applications Métier » </b>.<br><br>

                            L’option SLAM est principalement destinée aux étudiants qui s’orientent vers les <b>métiers liés à la conception et la maintenance de programmes applicatifs</b>. Donc grâce à des cours spécifiques, les diplômés seront capables de gérer un parc informatique ou d’administrer un réseau au sein d’une entreprise. Aussi ils pourront également gérer l’intégration, la sécurisation et la configuration des serveurs, mais aussi des postes clients et des équipements d’interconnexion.<br><br>
                            
                            Voici quelques exemples de métiers que les étudiants peuvent exercer après le BTS SIO option SLAM :<br>
                            
                            Développeur d’applications informatiques<br>
                            Chargé d’études informatiques<br>
                            Responsable des services applicatifs<br>
                            Programmeur analyste<br>
                            Programmeur d’applications<br>
                            Technicien d’études informatiques</p>
                    </div>
                    <div class="sisr" data-aos="fade-left">
                        <span class="option">Option SISR</span>

                        <img src="../../assets/images/sisr.jpg" alt=">sisr">
                        <p>L’acronyme SISR signifie <b>« Solutions d’infrastructure, systèmes et réseaux »</b>.<br><br>

                            L’option SISR est donc d’abord destinée aux étudiants qui s’orientent vers les <b> métiers liés à la conception et la maintenance d’infrastructures réseaux</b>. Avant tout cela correspond à assurer la sécurité, la maintenance et l’installation des réseaux et des équipements informatiques font partie des principales missions des futurs administrateurs, techniciens ou pilotes d’exploitation.<br><br>
                            
                            Donc voici quelques exemples de métiers que les étudiants peuvent exercer après le BTS SIO option SISR :<br>
                            
                            Technicien réseau — télécoms<br>
                            Technicien systèmes et réseaux<br>
                            Administrateur systèmes et réseaux<br>
                            Support systèmes et réseaux<br>
                            Technicien d’infrastructure<br>
                            Pilote d’exploitation<br>
                            Technicien de production</p>
                    </div>
                </div>
                <div class="que-faire" data-aos="zoom-in-up">
                    <span class="option">Que faire après un BTS SIO ?</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quaerat, debitis corporis nulla sint similique? Ipsum blanditiis voluptatibus quidem facere quo corporis pariatur molestias esse veniam ullam nobis obcaecati, vel quia tenetur nulla. Quibusdam facilis illum nesciunt quisquam sapiente, delectus, consequatur reprehenderit vero odit dicta iure veniam, minus atque quam? https://diplomeo.com/actualite-bts_sio_slam_ou_sisr</p>

                </div>
                <div class="membres" data-aos="zoom-in-up">
                    <span class="option">Les membres de ma promotion de BTS SIO à l'institut F2i :</span>
                    <div class="liste">
                        <ul>
                            <li>Jokast KASSA</li>
                            <li>Galdy DIAZINGA</li>
                            <li>Hamed COULIBALY</li>
                            <li>Maha DGouiG</li>

                        </ul>
                        <ul>
                            <li>Guide KOUKOUNA</li>
                            <li>Emmanuelle MOUNGALLA</li>
                            <li>Ronny MAMBEKE BOUCHER</li>
                            <li>Enzo </li>

                        </ul>
                    </div>
                </div>
                      
            </article>
        </div>
    </div>
</main>