<app-navbar></app-navbar>
<main>

    <div class="contain">
        <div id="face">
            <div class="contour" data-aos="zoom-out-down">
                <h1 class="superShadow">E5</h1>
            </div>
            
        </div>
        <div class="texts" data-aos="zoom-in">
            <article class="hidden">
                <p> L'épreuve E5 vise à évaluer, d’une part, le degré d’appropriation de son parcours de professionnalisation et, d’autre part, les compétences acquises par le candidat dans le domaine de la gestion du patrimoine informatique d’une organisation. <br><br>
                    L’objectif est de vérifier les capacités du candidat à :<br><br>
                    - Mobiliser les compétences plus particulièrement liées à la gestion du patrimoine informatique d’une organisation, dans le cadre d'un projet d’évolution de son système d’information et à l'occasion de la production ou de la fourniture de services informatiques.<br><br>
                    
                    - Apprécier la contribution des situations professionnelles rencontrées dans le développement de ces compétences.<br><br>
                ​</p>
                    <div class="a">
                        <div class="b">
                            <a href="../../assets/fichiers/CV[2092].pdf" download><button><i class="fas fa-arrow-down fa-beat" ></i>
                                Epreuve E5</button>
                            </a>
                            <a href="../../assets/fichiers/CV[2092].pdf" download><button><i class="fas fa-arrow-down fa-beat" ></i>
                                    Diaporama</button>
                            </a>
                            <a href="../../assets/fichiers/CV[2092].pdf" download><button><i class="fas fa-arrow-down fa-beat" ></i>
                                Tableau de Synthèse</button>
                            </a>
                            <a href="../../assets/fichiers/CV[2092].pdf" download><button><i class="fas fa-arrow-down fa-beat" ></i>
                                Dossier E5</button>
                            </a>
                          
                                   
                        </div>
                    </div>
            </article>
        </div>
    </div>
</main>