<app-navbar></app-navbar>
<main>

    <div class="contain">
        <div id="face">
            <div class="contour" data-aos="zoom-out-down">
                <h1 class="superShadow">E5</h1>
            </div>
            
        </div>
        <div class="texts" data-aos="zoom-in">
            <article class="hidden">
                <p> L'épreuve E5 vise à évaluer, d’une part, le degré d’appropriation de son parcours de professionnalisation et, d’autre part, les compétences acquises par le candidat dans le domaine de la gestion du patrimoine informatique d’une organisation. <br><br>
                    L’objectif est de vérifier les capacités du candidat à :<br><br>
                    - Mobiliser les compétences plus particulièrement liées à la gestion du patrimoine informatique d’une organisation, dans le cadre d'un projet d’évolution de son système d’information et à l'occasion de la production ou de la fourniture de services informatiques.<br><br>
                    
                    - Apprécier la contribution des situations professionnelles rencontrées dans le développement de ces compétences.<br><br>
                ​</p>
                    <div class="a">
                        <div class="b">
                            <a href="../../assets/fichiers/Fiche Mission Leboncoin Epreuve E5 - SLAM.pdf" download><button><i class="fas fa-arrow-down fa-beat" ></i>
                                Fiche Mission 1 PHP</button></a>
                                <a href="../../assets/fichiers/Fiche mission GM- Epreuve E5 - SLAM .pdf" download><button><i class="fas fa-arrow-down fa-beat" ></i>
                                    Fiche Mission 2 C#</button></a>
                                    <a href="https://drive.google.com/drive/folders/1UeeMSSIN6x2XSM2p5ZOHHKeVjaXNjJZM" target="_blank"><button><i class="fas fa-arrow-down fa-beat" ></i>
                                        Ressources Dossier E5</button></a>
                            
                          
                                   
                        </div>
                    </div>
            </article>
        </div>
    </div>
</main>