<main>
    <div class="tittle">
        <h2 class="soustitre">Epreuves</h2>
    </div>
    <div class="contain">
        <div id="face">
            <div class="contour">
                <a href="/e4">
                <h1 class="superShadow">E4</h1>
                </a>
            </div>
            
        </div>
    
        <div id="face">
            <div class="contour">
                <a href="/e5">
                <h1 class="superShadow">E5</h1>
                </a>
            </div>
            
        </div>
    </div>
</main>