body {
    perspective: 3000;
    overflow: hidden;
  }
  #face {
    margin: 0;
    padding: 20px 20px ;
    width: min-content;
    /* transform: rotateX(60deg) rotateZ(-50deg); */
    transform-style: preserve-3d;
    /* transition: all 1.5s; */
    /* position: absolute; */
    top: 0; left: 0; right: 0;
    color: #fff;
    margin: auto;
    cursor: pointer;
    border-radius: 100%;
    transition: all 1.2s ease;


  }
  #face:hover {
    /* transform: rotateX(0deg) rotateZ(0deg); */
    color: #FB8A8A ;
    box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);

  }
  /* #content {
    width: 320px;
    height: 375px;
    padding: 15px 0px;
    background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
    transform-style: preserve-3d;
    text-align: center;
  }
  #content:before,#content:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: inherit;
  }
  #content:before {
    transform-origin: left center;
    transform: rotateY(90deg);
    width: 15px;
  }
  #content:after {
    transform-origin: bottom center;
    transform: rotateX(90deg);
    height: 15px; 
    top: auto; bottom: 0;
    background-position: bottom center;
  }
   */
  p input[type="text"], p textarea {
    width: 258px;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #fff;
  }
  p input[type="text"] {
    height: 24px;
  }
  p textarea {
    height: 100px;
    resize: none;
  }
  p input[type="button"] {
    width: 278px;
    border: 4px solid #fff;
    background-color: #51A8FF;
    color: #fff;
    font-size:24px;
    padding: 14px 0px;
    font-weight:700;
    transition: all 0.5s;
  }
  p input[type="button"]:hover {
    background: #9ECEFF;
    color: #222;
  }
  p input:focus, textarea:focus {
    outline: 4px solid #007FFF;
  }
.contour{
    /* background: #becccc;  */
    margin: 0;
    width: 200px;
    box-sizing: content-box;
    height: 90%;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    /* background-color: red; */
    height: 850px;
    /* background-color: gray; */


}
.contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: deeppink; */

}
.superShadow {
    font-size:150px;
    margin: 15px 15px;
    /* color: #fff; */
    text-shadow: 0 1px 0 #ccc,
  0 1px 0 #c9c9c9,
  0 1.5px 0 #bbb,
  0 2px 0 #b9b9b9,
  0 2.5px 0 #aaa,
  0 3px 1px rgba(0,0,0,.1),
  0 0 2.5px rgba(0,0,0,.1),
  0 0.5px 1.5px rgba(0,0,0,.3),
  0 1.5px 2.5px rgba(0,0,0,.2),
  0 2.5px 5px rgba(0,0,0,.25),
  0 5px 5px rgba(0,0,0,.2),
  0 10px 10px rgba(0,0,0,.15);
  }
  
  strong{
    font-size:150px;
  }

  .soustitre{
    padding: 10px 20px;
    font-size: 50px;
    margin-left: 70px;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
    display: flex;
    text-transform: uppercase; 
    z-index: 9;
    animation: anime404 0.6s cubic-bezier(0.3, 0.8, 1, 1.05) both;
    animation-delay: 1.2s;
    text-shadow: 1px 1px 2px #36184F, 0 0 1em #36184F, 0 0 0.2em #36184F;
  }

  @media only screen and (max-width: 438px) {
    .main{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .contain{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-items: center;
      gap: 20px;
    }
    
  .soustitre{
    margin: 0;
  }
  }