@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input,
body {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
ul:focus,
li:focus,
button:focus,
a:focus,
i:focus,
input:focus,
body:focus {
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Barlow", sans-serif;
  background: #695681;
  
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */

}
.main{
    width: 60%;
  height: 40%;
  min-width: 400px;
  min-height: 500px;
  position: relative;
  margin-top: -50px;
  z-index: 10;

}

nav .menu {
  width: 100%;
  height: 80px;
  position: absolute;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0 5%;
  box-sizing: border-box;
  z-index: 3;
}
nav .menu .website_name {
  color: #695681;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  background: white;
  height: min-content;
  margin-top: 20px;
  padding: 4px 8px;
  border-radius: 2px;
  opacity: 0.5;
  transition: all 0.4s ease;
  box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-shadow: 0 1px 0 #ccc,
  0 1px 0 #c9c9c9,
  0 1.5px 0 #bbb,
  0 2px 0 #b9b9b9,
  0 2.5px 0 #aaa,
  0 3px 1px rgba(0,0,0,.1),
  0 0 2.5px rgba(0,0,0,.1),
  0 0.5px 1.5px rgba(0,0,0,.3),
  0 1.5px 2.5px rgba(0,0,0,.2),
  0 2.5px 5px rgba(0,0,0,.25),
  0 5px 5px rgba(0,0,0,.2),
  0 10px 10px rgba(0,0,0,.15);
}
nav .menu .website_name:hover {
  opacity: 1;
}
nav .menu .menu_links {
  transition: all 0.4s ease;
  opacity: 1;
  
}
nav .menu .menu_links:hover {
  opacity: 1;
}

nav .menu .menu_links .link {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 50px;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.3s 0.2s ease;
}
nav .menu .menu_links .link:last-child {
  margin-right: 0;
}
nav .menu .menu_links .link:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  background: linear-gradient(90deg, #FFEDC0 0%, #FF9D87 100%);
  bottom: -10px;
  border-radius: 4px;
  transition: all 0.4s cubic-bezier(0.82, 0.02, 0.13, 1.26);
  left: 100%;
}
nav .menu .menu_links .link:hover {
  opacity: 1;
  color: #FB8A8A;
}
nav .menu .menu_links .link:hover:before {
  width: 40px;
  left: 0;
}

/* mob version */
.mob-open {
  position: fixed;
  right: 100px;
  top: 15px;
  opacity: .5;
}
.mob-open:hover{
  opacity: 1;
}
.x {

  opacity: .5;
}
.x:hover{
  opacity: 1;
}
.mob-list{
  height: 100%;
  width: 100%;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  background-color: 	hsl(267, 20%, 42%);

}

.mob-close{
  position: fixed;
  right: 100px;
  top: 15px;
  z-index: 9;
}

.opened{
  /* opacity: 1; */
  /* display: block; */
  visibility: visible;
  animation: openAnim 800ms ease-in-out ;
}
.close{
  /* opacity: 0; */
  /* display: none; */
  visibility: hidden; 
  animation: closeAnim 800ms ease-in-out ;

}
@keyframes openAnim{
  0%{
    opacity: 0;
    /* display: none; */

  }
  100%{
    opacity: 1;
    /* display: block; */

    
  }
}
@keyframes closeAnim{
  0%{
    opacity: 1;
    /* display: block; */

  }
  100%{
    opacity: 0;
    /* display: none; */

    
  }
}

.mylink {
  /* position: absolute; */
  top: 50%; 
  right: 50%;
  /* transform: translate(50%,-50%); */
  text-transform: uppercase;
  font-family: verdana;
  font-size: 5.5em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}
.mylink:hover{
  color: #FF9D87;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
}
.wrapper .container {
  margin: 0 auto;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.wrapper .container .scene {
  position: absolute;
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
}
.wrapper .container .one,
.wrapper .container .two,
.wrapper .container .three,
.wrapper .container .circle,
.wrapper .container .p404 {
  width: 60%;
  height: 60%;
  top: 20% !important;
  left: 20% !important;
  min-width: 400px;
  min-height: 400px;
}
.wrapper .container .one .content,
.wrapper .container .two .content,
.wrapper .container .three .content,
.wrapper .container .circle .content,
.wrapper .container .p404 .content {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: content 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}
@keyframes content {
  0% {
    width: 0;
  }
}

.wrapper .container .one .content .piece,
.wrapper .container .two .content .piece,
.wrapper .container .three .content .piece,
.wrapper .container .circle .content .piece,
.wrapper .container .p404 .content .piece {
  width: 200px;
  height: 80px;
  display: flex;
  position: absolute;
  border-radius: 80px;
  z-index: 1;
  animation: pieceLeft 8s cubic-bezier(1, 0.06, 0.25, 1) infinite both;
}
@keyframes pieceLeft {
  50% {
    left: 80%;
    width: 10%;
  }
}
@keyframes pieceRight {
  50% {
    right: 80%;
    width: 10%;
  }
}


@media screen and (max-width: 799px) {
  .wrapper .container .one,
.wrapper .container .two,
.wrapper .container .three,
.wrapper .container .circle,
.wrapper .container .p404 {
    width: 90%;
    height: 90%;
    top: 5% !important;
    left: 5% !important;
    min-width: 280px;
    min-height: 280px;
  }
}
@media screen and (max-height: 660px) {
  .wrapper .container .one,
.wrapper .container .two,
.wrapper .container .three,
.wrapper .container .circle,
.wrapper .container .p404 {
    min-width: 280px;
    min-height: 280px;
    width: 60%;
    height: 60%;
    top: 20% !important;
    left: 20% !important;
  }
}
.wrapper .container .text {
  width: 60%;
  height: 40%;
  min-width: 400px;
  min-height: 500px;
  position: absolute;
  margin: 40px 0;
  animation: text 0.6s 1.8s ease backwards;
}
@keyframes text {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
}
@media screen and (max-width: 799px) {
  .wrapper .container .text {
    min-height: 400px;
    height: 80%;
  }
}
.wrapper .container .text article {
  width: 400px;
  position: absolute;
  bottom: 0;
  /* z-index: 4; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 799px) {
  .wrapper .container .text article {
    width: 100%;
  }
}
.wrapper .container .text article p {
  color: white;
  font-size: 18px;
  letter-spacing: 0.6px;
  margin-bottom: 40px;
  text-shadow: 6px 6px 10px #32243E;
}
.wrapper .container .text article button {
  height: 40px;
  padding: 0 30px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 15px 20px rgba(54, 24, 79, 0.5);
  /* z-index: 3; */
  color: #695681;
  background-color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: all 0.3s ease;
}
.wrapper .container .text article button:hover {
  box-shadow: 0px 10px 10px -10px rgba(54, 24, 79, 0.5);
  transform: translateY(5px);
  background: #FB8A8A;
  color: white;
}

.wrapper .container .p404 {

  padding-bottom: 10px;
  font-size: 140px;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  animation: anime404 0.6s cubic-bezier(0.3, 0.8, 1, 1.05) both;
  animation-delay: 1.2s;
  text-shadow: 1px 1px 2px #36184F, 0 0 1em #36184F, 0 0 0.2em #36184F;

}

@media screen and (max-width: 799px) {
  .wrapper .container .p404 {
    font-size: 100px;
  }
}
@keyframes anime404 {
  0% {
    opacity: 0;
    transform: scale(10) skew(20deg, 20deg);
  }
}

.wrapper .container .circle {
  position: absolute;
}
.wrapper .container .circle:before {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  background-color: rgba(54, 24, 79, 0.2);
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);
  animation: circle 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}
@keyframes circle {
  0% {
    width: 0;
    height: 0;
  }
}
@media screen and (max-width: 799px) {
  .wrapper .container .circle:before {
    width: 400px;
    height: 400px;
  }
}
.wrapper .container .one .content:before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: rgba(54, 24, 79, 0.3);
  border-radius: 100%;
  box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);
  animation: circle 0.8s 0.4s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}
@media screen and (max-width: 799px) {
  .wrapper .container .one .content:before {
    width: 300px;
    height: 300px;
  }
}
.wrapper .container .one .content .piece {
  background: linear-gradient(90deg, #8077EA 13.7%, #EB73FF 94.65%);
}
.wrapper .container .one .content .piece:nth-child(1) {
  right: 15%;
  top: 18%;
  height: 30px;
  width: 120px;
  animation-delay: 0.5s;
  animation-name: pieceRight;
}
.wrapper .container .one .content .piece:nth-child(2) {
  left: 15%;
  top: 45%;
  width: 150px;
  height: 50px;
  animation-delay: 1s;
  animation-name: pieceLeft;
}
.wrapper .container .one .content .piece:nth-child(3) {
  left: 10%;
  top: 75%;
  height: 20px;
  width: 70px;
  animation-delay: 1.5s;
  animation-name: pieceLeft;
}
.wrapper .container .two .content .piece {
  background: linear-gradient(90deg, #FFEDC0 0%, #FF9D87 100%);
}
.wrapper .container .two .content .piece:nth-child(1) {
  left: 0%;
  top: 25%;
  height: 40px;
  width: 120px;
  animation-delay: 2s;
  animation-name: pieceLeft;
}
.wrapper .container .two .content .piece:nth-child(2) {
  right: 15%;
  top: 35%;
  width: 180px;
  height: 50px;
  animation-delay: 2.5s;
  animation-name: pieceRight;
}
.wrapper .container .two .content .piece:nth-child(3) {
  right: 10%;
  top: 80%;
  height: 20px;
  width: 160px;
  animation-delay: 3s;
  animation-name: pieceRight;
}
.wrapper .container .three .content .piece {
  background: #FB8A8A;
}
.wrapper .container .three .content .piece:nth-child(1) {
  left: 25%;
  top: 35%;
  height: 20px;
  width: 80px;
  animation-name: pieceLeft;
  animation-delay: 3.5s;
}
.wrapper .container .three .content .piece:nth-child(2) {
  right: 10%;
  top: 55%;
  width: 140px;
  height: 40px;
  animation-name: pieceRight;
  animation-delay: 4s;
}
.wrapper .container .three .content .piece:nth-child(3) {
  left: 40%;
  top: 68%;
  height: 20px;
  width: 80px;
  animation-name: pieceLeft;
  animation-delay: 4.5s;
}


/* 3d */

.caption {
position:absolute;
z-index: 10;
top:50%;
left:50%;
transform: translate(-50% ,210%);
text-shadow: 0 3px 5px rgba(0,0,0,.3);
cursor:default;
}
.text-3d {
  padding-bottom: 70px;
  font-size: 140px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: anime404 0.6s cubic-bezier(0.3, 0.8, 1, 1.05) both;
  animation-delay: 1.2s;
  /* text-transform: uppercase; */
  text-decoration:none;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50% ,-50%);
  text-shadow:
                  0 1px 0 rgb(190,190,190),
                  0 2px 0 rgb(185,185,185),
                  0 3px 0 rgb(180,180,180),
                  0 4px 0 rgb(175,175,175),
                  0 5px 0 rgb(170,170,170),
                  0 6px 0 rgb(165,165,165),
                  0 7px 0 rgb(160,160,160),

                  0 1px 5px rgba(0,0,0,.05),
                  0 3px 5px rgba(0,0,0,.10),
                  0 5px 10px rgba(0,0,0,.15),
                  0 7px 10px rgba(0,0,0,.20),
                  0 10px 15px rgba(0,0,0,.25);
  transition: all 0.3s ease-in-out;        
  cursor: pointer;
}
.text-3d:hover {
  text-shadow:
                  0 1px 0 rgb(190,190,190),
                  0 2px 0 rgb(185,185,185),
                  0 3px 0 rgb(180,180,180),
                  0 4px 0 rgb(175,175,175),
                  0 5px 0 rgb(170,170,170),
                  0 6px 0 rgb(165,165,165),
                  0 7px 0 rgb(160,160,160),
                  0 8px 0 rgb(155,155,155),
                  0 9px 0 rgb(150,150,150),

                  0 1px 5px rgba(0,0,0,.05),
                  0 5px 5px rgba(0,0,0,.10),
                  0 10px 10px rgba(0,0,0,.15),
                  0 15px 10px rgba(0,0,0,.20),
                  0 20px 15px rgba(0,0,0,.25);
  
  transform: translate(-51%,-51%);
  transition: all 0.3s ease-in-out;
}


.fa-light{
  color: white;
  font-size: 35px;
  cursor: pointer;
  text-shadow: 0 1px 0 #ccc,
  0 1px 0 #c9c9c9,
  0 1.5px 0 #bbb,
  0 2px 0 #b9b9b9,
  0 2.5px 0 #aaa,
  0 3px 1px rgba(0,0,0,.1),
  0 0 2.5px rgba(0,0,0,.1),
  0 0.5px 1.5px rgba(0,0,0,.3),
  0 1.5px 2.5px rgba(0,0,0,.2),
  0 2.5px 5px rgba(0,0,0,.25),
  0 5px 5px rgba(0,0,0,.2),
  0 10px 10px rgba(0,0,0,.15);
}

@media only screen and (max-width: 1215px) {
  .text-3d{
    font-size: 120px;
  }
}
@media only screen and (max-width: 1050px) {
  .text-3d{
    font-size: 100px;
  }
}
@media only screen and (max-width: 990px) {
  .text-3d{
    font-size: 90px;
  }
}
@media only screen and (max-width: 800px) {
  .text-3d{
    font-size: 80px;
  }
}
@media only screen and (max-width: 720px) {
  .text-3d{
    font-size: 70px;
  }
}
@media only screen and (max-width: 639px) {
  .text-3d{
    font-size: 65px;
  }
}
@media only screen and (max-width: 600px) {
  .text-3d{
    font-size: 60px;
  }
}
@media only screen and (max-width: 558px) {
  .text-3d{
    font-size: 55px;
  }
}
@media only screen and (max-width: 500px) {
  .text-3d{
    font-size: 50px;
  }
}
@media only screen and (max-width: 517px) {
  .text-3d{
    font-size: 50px;
  }
}
@media only screen and (max-width: 499px) {
  .text-3d{
    font-size: 45px;
  }
}
@media only screen and (max-width: 438px) {
  .text-3d{
    font-size: 78px;
    font-weight: 700;
    /* text-shadow: none; */
    width: 100%;
  }
  nav .menu .website_name {
    /* background-color: red; */
    box-shadow: none;
    
  }
  .mylink{
    font-size: 3.5em;
  }
  .mob-open {
    position: fixed;
    right: 40px;

    top: 20px;
    opacity: .5;
  }
  /* .mob-open {
    opacity: .5;
    position: relative;
    right: 0;
    top: 0;
    margin-top: 19px;


  } */
}