
<body>

 
     <nav>
         <div class="menu">
            <a href="/accueil"><p class="website_name"  data-aos="fade-up">Rufus MOUAKASSA</p></a>
             <div class="menu_links mob-menu" >
                
                 <i class="fa-light fa-bars mob-open" ></i>
                 <div class="mob-wrapper close">
                    <i class="mob-close fa-light fa-xmark-large x "></i>
                    <div class="mob-list">
                        <a href="" class="mylink">Accueil </a>
                        <a href="#a-propos" class="mylink">A Propos</a>
                        <a href="#portfolio" class="mylink">Portfolio</a>
                        <a href="#veille" class="mylink">Veilles</a>
                        <a href="#contact" class="mylink">Contact</a>
                    </div>
                 </div>
             </div>

         </div>
     </nav>


 
     <section class="wrapper">
 
         <div class="container">
 
             <div id="scene" class="scene" data-hover-only="false">
 
 
                 <div class="circle" data-depth="1.2"></div>
 
                 <div class="one" data-depth="0.9">
                     <div class="content liens">
                         <a class="piece lien"></a>
                         <a class="piece"></a>
                         <a class="piece"></a>
                     </div>
                 </div>
 
                 <div class="two" data-depth="0.60">
                     <div class="content liens">
                         <a class="piece"></a>
                         <a class="piece"></a>
                         <a class="piece"></a>
                     </div>
                 </div>
                
                 <div class="three" data-depth="0.40">
                     <div class="content liens">
                         <a class="piece"></a>
                         <a class="piece "></a>
                         <a class="piece"></a>
                     </div>
                 </div>
                 <a href="" target="_blank" class="text-3d">Hi, <br> I'm Rufus</a>
                 <!-- <span class="caption">Click to Return Home</span> -->
                 <!-- <div class="p404">
                    <p data-depth="0.50"><span class="hi">Hi,</span> <br>I'm Rufus </p>
                </div> -->
                <!-- <p class="p403" data-depth="0.10">Hi <br> I'm Rufus  </p> -->
 
              <app-apropos></app-apropos>
            <app-portfolio></app-portfolio>
            <app-contact></app-contact>
            

 
              
             </div>
             
             <div class="text">
                <article>
                    <p> Welcome to my portfolio ! <br>Go back to the homepage if you dare!</p>
                    <a href="#portfolio">
                        <button>Explore</button>
                    </a>
                </article>
            </div>
            
         </div>
     </section>
     
</body>