
.leaflet-container {
    width: 100%;
    height: 90vh;
    margin-bottom: 50px;
    background-color: aliceblue;
}

/* .maps{
    width: 100%;
} */

.input-search2, .input-search{
    margin: 5vh;
    padding: 1vh;
    width: 90%;
    height: 50px;
    border: 0px solid #fff;
    border-radius: 5px;

}


form{
    display: flex;
    align-items: center; 
    padding-left: 50px;
    padding-right: 50px;
    
}

.form-send {
    background: #C81010;
    color: white ;
    font-weight: 700;
    height: 50px;
    border: 0px solid #fff;
    width: 145px;
    
    
}

